.menu-bar {
  background-color: blueviolet;
  height: 70px;
}
.nav-link {
  font-size: 16px;
  margin: 3px;
  color: white !important;
  font-weight: 500;
  margin-right: 30px;
}

.nav-link:hover {
  font-size: 16px;
  margin: 3px;
  color: white !important;
  font-weight: 500;
  margin-right: 30px;
  border-bottom: 1px solid white!important;
}

.navbar-nav {
  text-align: center;
  margin-right: 300px;
}

.navbar .navbar-brand {
  color: white !important;
}

.navbar P {
  color: white !important;
}

.navbar-toggler {
  color: white !important;
}

.menu-bar .navbar-toggler {
  padding-right: 30px;
  outline: none !important;
  border: none !important;
  padding-top: 10px;
}


.active-nav-link{
  background-color: blueviolet;
}



@media only screen and (max-width: 1000px) {
  .nav-link:hover {
    border-bottom: none !important;
  }
  .menu-bar{
    height: auto;
    background-color: blueviolet;
   
  }
}
