.homepage-first {
  height: 450px;
  background-color: #e8424a;
  color: white;
  margin: 0px;
  padding: 0px;
}

/* total post count */
.total-post-info{
  margin-top: 10px;
}

.home-post-count {
  height: 250px;
}

.user-info {
  padding: 10px;
  margin: 3px;
  height: 130px;
  background-color: white;
}

.userinfo-name-circle {
  height: 40px;
  width: 40px;
  background-color: black;
  border-radius: 90px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  position: relative; /*makes left effective*/
}

.userinfo-name-circle p {
  color: white;
  border-radius: 90px;
  height: 40px;
  width: 40px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 90px; /* may require vendor prefixes */
}

.view-profile {
  background-color: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  margin-top: 70px;
  transition: 0.3s;
}

.view-profile:hover {
  opacity: 1;
  background-color: #f4511e;
  color: aliceblue;
}

/* Pagination design csss */

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(216, 73, 73, 0.2); */
  width: 100%;
  font-weight: 500;
  font-size: 15px;
}

.pagination-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  /* padding: 8px 14px; */
  height: 40px;
  width: 40px;
  text-decoration: none;
  transition: background-color 0.2s;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 90px;
  margin: 10px;
}

.pagination-container a.active {
  background-color: #46214b;
  color: white;
  border: 1px solid #7cbddb;
}

.pagination-container a.disabled {
  opacity: 0.2;
}
.pagination-container a:hover:not(.active) {
  background-color: rgb(238, 238, 238);
}

/* end pagination design section */

/* Latest posts section design */

.item-card-design{
  display: flex;
}

.latest-post-image{
  width: 200px;
}

.main-card-latest-post{
  margin-top: 10px;
}

/* end latest post section */
