.fav-post {
  overflow: scroll;
  max-height: 100vh;
}
.fav-post-item {
  border: 1px solid black;
}

.main-card {
  height: 95%;
  margin: 5px;
}

.main-card:hover {
  /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
  cursor: pointer;
  transition-duration: 1s;

  box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

}

.favpurite-post-image img{
  /* background-position: center top; */
  /* background-size: 100% 100%; */
  height: 200px;
  width: 100%;
  object-fit: cover;
  /* background-repeat: no-repeat; */
}



/* .trending{
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  justify-content: center;

  block-size: fit-content;
  color: white;
  width: fit-content;
  color: white;
} */

.fav-post-text-item {
  padding: 10px;
}
.like-comments {
  display: flex;
}
.comment-button-design {
  padding-left: 10px;
  display: flex;
}
.comments-count{
  margin-left: 8px;
  color: #e8424a;
  font-size: 16px;

}
.comment-icons{
  color: #e8424aed;
}

.like-button-design{
  display: flex;
}
.like-count{
  margin-left: 3px;
  color: #e8424aed;
  font-size: 16px;

}
.like-icons{
  color: #e8424aed;

}
