* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

.nav-dashboard-headear{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: black;
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.nav-dashboard-headear li svg{
    margin-top: 15px;
    margin-left: 30px;
    color: rgb(0, 174, 255);
}

.nav-dashboard-headear ul{
    display: flex;
    justify-content: center;
    margin-right: 30%;
    height: 70px;
}

.nav-dashboard-headear ul li{
   text-align: center;
    list-style-type: none;
    margin-right: 70px;
    height: 70px;
    display: flex;
    margin-top: 20px;
}


@media (max-width: 800px) {
    .nav-dashboard-headear {
      display: none;
    }
    
  }





/* .nav-header{
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    color: black;
    justify-content: space-between;
    display: flex;
}

.nav-header svg{
    margin-left: 35px;
    padding: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}


.nav-header ul{
    display: flex;
    justify-content: center;
    margin-right: 30%;
    height: 70px;
}

.nav-header ul li{
   text-align: center;
    list-style-type: none;
    margin-right: 70px;
    height: 70px;
    display: inline-block;
}


@media (max-width: 800px) {
    .nav-header {
      display: none;
    }
    
  } */