.comments-items{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.trending-details{
    block-size: fit-content;
    color: white;
    width: fit-content;
    /* background-color: rgb(14, 154, 236); */
    background-color: rgba(51, 18, 238, 0.678);
  
    padding: 5px;
    position: absolute;
    bottom: 88%;
    left: 88%;
    border-radius: 5px;
    transform: translateX(-50%) translateY(-50%);
}

/* Latest post in details page design */

